@charset "UTF-8";
/*
* @Author: Administrator
* @Date:   2018-09-06 20:50:42
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-10 16:00:12
*/
div, li, ul, dl, input, p, a, span, header, img, b, strong, i, em, ol, nav, section, aside, article, main, footer, i, em,
.headerwrap, h1, h2, h3, h4, h5, h6, html, body, fieldset, input, legend {
  padding: 0;
  margin: 0;
}

* {
  outline: none;
}

img {
  display: block;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i, em {
  font-style: normal;
}

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
}

html, body {
  height: 100%;
  width: 100%;
}

.wrap {
  width: 100%;
  min-height: 600px;
}

/* 头部 */
.header {
  width: 100%;
  height: 162px;
  margin: 0 auto;
}

.header_top {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  background-color: #fafafa;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.header_top .w100 {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
}

.header_top_left {
  width: 206px;
  height: 36px;
}

.header_top_left .wc {
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #8c8c8c;
}

.line {
  display: inline-block;
  width: 0;
  height: 14px;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
}

.login {
  display: inline-block;
  height: 36px;
  width: 60px;
  color: #8c8c8c;
  margin: 0 2px;
}

.login:hover {
  color: #94193f;
  text-decoration: underline;
}

.regst {
  display: inline-block;
  height: 36px;
  color: #8c8c8c;
  margin: 0 2px;
}

.regst:hover {
  color: #94193f;
  text-decoration: underline;
}

.header_top_right {
  width: 520px;
  height: 36px;
}

.header_top_right ul li {
  float: left;
  line-height: 36px;
}

.header_top_right ul li a {
  color: #8c8c8c;
  display: inline-block;
  height: 36px;
  padding: 0 7px;
}

.download {
  display: none;
  text-align: center;
  background: #fff;
  position: absolute;
  left: -10px;
  top: 36px;
  padding: 5px;
  line-height: 15px;
}

.klist {
  position: absolute;
  top: 36px;
  left: -1px;
  display: none;
  width: 76px;
  border: 1px solid #dfdfdf;
}

.header_top_right ul .klist a {
  display: block;
  z-index: 111111111;
  background: #FFF;
}

.tel {
  display: inline-block;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  background: url(../images/icon_list.png) no-repeat 0 -38px;
  margin-left: 10px;
}

.down {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url(../images/icon_list.png) no-repeat -157px -696px;
}

.header_btm {
  width: 100%;
  height: 124px;
  margin: 0 auto;
}

.header_btm_content {
  width: 1200px;
  height: 124px;
  margin: 0 auto;
}

.logo {
  margin-top: 30px;
}

.cn {
  width: 438px;
  margin: 48px 0 0 7px;
}

.search {
  margin: 35px 0 0 5px;
}

.t1 {
  width: 397px;
  height: 35px;
  border: 3px solid #94193f;
}

.btn {
  border: none;
  width: 97px;
  height: 41px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 41px;
  background: #94193f;
  /* margin-left:-4px; */
}

.search_key a {
  display: block;
  color: #8c8c8c;
  padding: 5px 5px 5px 0;
}

.search_key a:hover {
  color: red;
}

.shop {
  width: 110px;
  height: 39px;
  border: 1px solid #d8d8d8;
  margin-top: 35px;
  background: #f9f9f9;
  position: relative;
  margin-left: 9px;
}

.shop a {
  display: block;
  width: 110px;
  height: 39px;
  line-height: 39px;
}

.shop .car1 {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-left: 5px;
  /* vertical-align: middle; */
  background: url(../images/icon_list.png) no-repeat -184px -732px;
}

.shop span {
  margin: 0 4px;
  width: 15px;
  height: 18px;
  color: #666666;
}

.shop .car2 {
  display: inline-block;
  width: 7px;
  height: 15px;
  background: url(../images/icon_list.png) no-repeat -270px -730px;
}

.shop .car_num {
  display: block;
  width: 16px;
  height: 16px;
  background: #94193f;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  right: 20px;
  top: -4px;
  line-height: 16px;
  text-align: center;
}

/*         nav        */
.nav {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #94193f;
  margin: 0 auto;
}

.nav_center {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
  position: relative;
}

.nav_center_list li {
  float: left;
}

.nav_center_list a {
  display: block;
  padding: 0 30px;
  height: 39px;
  text-align: center;
  line-height: 39px;
  color: #303030;
  font-size: 18px;
}

.nav_center_list li .r {
  color: #94193f;
  font-weight: bold;
}

.nav_center_list .L_first {
  margin-right: 30px;
}

.nav_center_list .L_first a {
  width: 155px;
  background: #94193f;
  color: #fff;
}

.L_first a .b_down {
  display: inline-block;
  width: 16px;
  height: 8px;
  background: url(../images/icon_list.png) no-repeat -36px -128px;
  margin-left: 58px;
}

.main{
  width:1200px;
  margin:0 auto;
  background:#FFF;
  overflow: hidden;
}
.main .main_1{
  height:57px;
  line-height:57px;
}
.main_1 a{
    color:#000;  
}
.main_1 span{
  font-size:14px;
  padding: 0 8px;
}
.main_1 .gcolor{
  color:#666666;
}
.main_left{
  width:380px;
  float:left;
  position:relative;
 
 

}

.small_pic{
  width:380px;
  height: 380px;
  border:1px solid #7e7e7e;
  position: relative;
  

}

.small_pic img{
  width:380px;
  height:380px;
  position: absolute;
  
}

.mask{
  width: 180px;
  height: 180px;
  background:#fff;
  border:1px solid #c8c8c8;
  position: absolute;
  opacity:0.3;
  display:none;
  z-index:9;
}
.ol_content{
 height:60px;
 margin-top:10px;
 line-height:60px;
 width:380px;
}
.ol_content a{
  
  font-size:30px;
  font-weight: bold;
  color:#8c8c8c;
  
}

.ol_list li{
  display: inline-block;
  border:2px solid #FFF;
  padding:0 1px;
 
}
.ol_list li:hover{
  border-color:#a90202;
}
.ol_list li img{

  width:54px;
  height:54px;
}

.big_content{
  position: absolute;
  width:380px;
  height:380px;
  border:1px solid #797979;
  overflow: hidden;
  left:390px;
  top:0;
  display: none;
  z-index:2;


}
.big_content img{
  position:absolute;
}

.main_left .detail_share{
    height: 40px;
    overflow: hidden;
    padding-top: 25px;
    width: 100%;
}
.detail_share .bh{
  color: #999999;
    display: block;
    float: left;
}
.detail_share .sc{
  float: left;
    line-height: 16px;
    padding-left: 23px;
    padding-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #8b8b8b;
}
.sc i{
    background: url(../images_2/detail_icon_list.png) no-repeat scroll 0 -309px;
    display: block;
    float: left;
    width: 17px;
    height: 16px;
    margin-right: 3px;
    background-position: -30px -309px;
}


.main_right{
    float: left;
    margin-left: 30px;
    width: 560px;
  
    min-height:300px;

}
.main_right h1{ 
    color: #303030;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
    padding-top: 10px;
    overflow: hidden;
}
.main_right h2{
    font-size: 14px;
    color: #c41f3a;
    font-weight: normal;
    margin-top: 15px;
    line-height: 1.2em;
    overflow: hidden;
}
.main_right .price{
    width: 100%;
    background-color: #fefafb;
    margin-top: 10px;
    border-bottom: 1px dashed #f0dde1;
    padding-bottom: 10px;
}
.main_right .price .s1{
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
    margin-top: 18px;
    
}
.main_right .price i{
    color: #c41f3a;
    font-family: "华文细黑",microsoft yahei;
    font-size: 18px;
}
.main_right .price .s2{
    font-family: arial;
    font-size: 42px;
    color: #c41f3a;
}
.main_right .price del{
    color: #999999;
    font-size: 14px;
    padding: 0 18px 0 8px;
}
.main_right .transp{
    padding: 12px 0;
    overflow: hidden;
    border-bottom: 1px dotted #dcdcdc;
}
.main_right .transp .s1{
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px
}
.main_right .transp .s2{
  color: #333333;
    font-size: 14px;

}
.main_right .color{
  line-height: 33px;
}
.main_right .color span{
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;

}
.color{
  line-height: 33px;
      width: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.color .color_l{
    float: left;
    width: 470px;

}
.color .color_l li{
  border: 2px solid #c41f3a;
    line-height: 28px;
    overflow: hidden;
    min-width: 24px;
    color: #333333;
    float: left;
    margin-right: 10px;
    padding: 0 15px;
    position: relative;
        height: 32px;
    display: block;
    text-align: center;
    margin-bottom: 8px;
}
.color .color_l li a{
      color: #404040;
}
.color .color_l li b{
    background: url(../images_2/detail_icon_list.png) -87px 0;
    bottom: 0;
    display: block;
    height: 13px;
    position: absolute;
    right: 0;
    width: 12px;
}
.main_right .num{
    height: 34px;
    line-height: 34px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.num span{
    color: #666;
    float: left;
    font-size: 14px;
    min-width: 55px;
    width: 75px;
    padding-left: 10px;
}
.num .wrap_input{
    float: left;
    position: relative;
}
.wrap_input .num-{
    border: 1px solid #c8c8c8;
    background-color: #fff;
    float: left;
    height: 32px;
    width: 32px;
    display: inline-block;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.wrap_input input{
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    border-left: 0px;
    border-right: 0px;
    float: left;
    height: 32px;
    text-align: center;
    width: 60px;
    line-height: 23px;
    display: inline-block;
}

.wrap_input .numj{
    border: 1px solid #c8c8c8;
    background-color: #fff;
    float: left;
    display: inline-block;
    height: 32px;
    width: 32px;
    color: #999999;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.model_wrap{
    width: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
    margin-top:10px;
}
.model_wrap_in{

}
.buy_now{
    margin-left: 10px;
    display: block;
    float: left;
    width: 136px;
    height: 36px;
    border: 2px solid #b51748;
    color: #fff;
    text-align: center;
    line-height: 36px;
    background-color: #b51748;
    font-size: 16px;
}
.add_cart{
    margin-left: 17px;
    display: block;
    float: left;
    width: 136px;
    height: 36px;
    border: 2px solid #a82045;
    color: #b51748;
    text-align: center;
    line-height: 36px;
    font-size: 16px;

}
.detail_tips{
    font-size: 14px;
    color: #333;
    overflow: hidden;
    clear: both;
}
.main_center{
  width:1200px;
  min-height: 1000px;
  
  clear: both;
  overflow: hidden;
}
.main_center .tuijian{
    width: 196px;
    float: left;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.tuijian .tj_tittle{
    background-color: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
    line-height: 45px;
    color: #333333;
    font-size: 16px;
    text-indent: 15px;
}
.tj_goods{
    width: 196px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-bottom: 20px;

}
.tj_goods a{
    width: 156px;
    margin-left: 20px;
    display: block;
}
.goods_name{
    line-height: 1.4em;
    max-height: 2.8em;
    margin-top: 10px;
    overflow: hidden;
    color: #333333;
    font-size: 13px;
}
.goods_price .g_p_1{
    color: #c41f3a;
    font-size: 20px;
}
.g_p_1 b{
  font-size:13px;
}
.goods_price .g_p_2{
    color: #959595;
    font-size: 13px;
    margin-left: 8px;
    text-decoration: line-through;
}

.main_center .g_b_r{
    width: 974px;
    float: right;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.g_b_r_nav{
    background-color: #f6f6f6;
    line-height: 48px;
    height: 48px;
}
.nav_box{
    float: left;
    width: 842px;
}
.nav_box li{
    float: left;
    width: 106px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    height: 47px
}
.nav_box li.on{
    border-top: 2px solid #c41f3a;
    
    height: 46px;
    background-color: #fff;
}
.nav_box li a{
  color: #333333;
    font-size: 14px;
    display: block;

}

.g_cs{
    height: 35px;
    border-bottom: 1px solid #dddddd;
    margin-top:80px ;
}
.g_cs h1{
    width: 111px;
    height: 35px;
    background-color: #333333;
    color: #fff;
    font-size: 18px;
   
    top: 0px;
    text-align: center;
    line-height: 35px;
    font-weight: normal;
   
}
.g_cs_name span{
    color: #333;
    font-size: 14px;
    margin-left:10px
   
    
}
.g_cs_name{
     margin:40px 0;
}
.g_xq{
  border-bottom: 1px solid #dddddd;
}
.g_xq h1{
    width: 111px;
    height: 35px;
    background-color: #333333;
    color: #fff;
    font-size: 18px;
   
    top: 0px;
    text-align: center;
    line-height: 35px;
    font-weight: normal;
}
.g_xq_content{
   margin:40px auto;
}
.g_xq_content div{
    
    margin:0 auto;

}
.g_xq_content div img{
  margin:0 auto;
}

/* footer */
.footer {
  width: 100%;
  min-height: 100px;
  background: #fff;
  margin: 25px auto;
  overflow: hidden;
  margin: 0 auto;
}

.footer .footer_top {
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #d7d7d7;
}

.footer .footer_top img {
  width: 1200px;
}

.footer .footer_list {
  margin: 40px auto;
  width: 1000px;
  overflow: hidden;
  clear: both;
}

.footer .footer_list ul {
  float: left;
}

.footer .footer_list ul li {
  padding: 0 47px 0 40px;
  margin-bottom: 5px;
}

.footer .footer_list ul li a {
  color: #666666;
}

.footer .footer_list ul .h31 {
  height: 31px;
  font-size: 14px;
}

.footer .footer_list div {
  float: right;
  text-align: center;
}

.footer .footer_list div .mr20 {
  margin-right: 20px;
}

.footer .footer_list div div {
  float: left;
}

.footer .footer_list div div h6 {
  font-weight: bold;
}

.footer .footer_list div div img {
  margin: 5px 0;
}

.footer .footer_nav {
  width: 100%;
  overflow: hidden;
  border-bottom: 4px solid #a90202;
  margin-top: 45px;
}

.footer .footer_nav .w720 {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.footer .footer_nav .w720 ul {
  margin: 0 auto;
  overflow: hidden;
}

.footer .footer_nav .w720 ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
  text-align: center;
  margin: 0 auto;
}

.footer .footer_nav .w720 ul li a {
  color: #666666;
}

.footer .footer_nav .w720 ul li span {
  display: inline-block;
  height: 14px;
  border-right: 1px solid #a9a9a9;
  padding-left: 14px;
  vertical-align: middle;
}

.footer .footer_bottom {
  background: #f3f3f3;
}

.footer .footer_bottom .w1000 {
  width: 1200px;
  margin: 0 auto;
}

.footer .footer_bottom .w1000 p {
  padding-top: 10px;
  text-align: center;
  color: #7e7e7e;
  line-height: 25px;
}

.footer .footer_bottom .w1000 p a {
  color: #7e7e7e;
}

.footer .footer_bottom .foot_p {
  width: 1200px;
  padding: 30px 0 40px 0;
  text-align: center;
  margin: 0 auto;
}

.footer .footer_bottom .foot_p img {
  display: inline-block;
}

/* 固定搜索栏 */
.search_fixed {
  width: 100%;
  height: 52px;
  background: #94193f;
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
}

.search_fixed .w1000 {
  width: 1000px;
  height: 52px;
  margin: 0 auto;
}

.search_fixed .w1000 .search_logo {
  display: inline-block;
  margin: 0 auto;
  width: 120px;
  padding-left: 18px;
  padding-top: 5px;
}

.search_fixed .w1000 .search_text {
  display: inline-block;
}

.search_fixed .w1000 .search_text .search_t1 {
  width: 650px;
  height: 20px;
  padding: 5px 0 5px 5px;
  color: #666666;
  border: none;
  margin-top: -2px;
  float: left;
}

.search_fixed .w1000 .search_text .search_btn {
  width: 90px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border: none;
  float: left;
  background: #c41f3a;
  cursor: pointer;
  margin-top: -2px;
}

/*  right_*/
.right_slider {
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  background-color: #444851;
  height: 100%;
  min-height: 600px;
  z-index: 1000;
}

.right_slider .slider_top {
  height: 360px;
  margin-top: 30px;
}

.right_slider .slider_top .slider_top_1 {
  margin: 5px 0;
  height: 73px;
  border-bottom: 1px solid #2d2e32;
  padding-top: 5px;
  position: relative;
}

.right_slider .slider_top .slider_top_1:hover {
  background: #94193f;
}

.right_slider .slider_top .slider_top_1:hover .right_slider_logn {
  display: block;
}

.right_slider .slider_top .slider_top_1 .s_t_1 {
  display: block;
  background: url(../images/icon_list.png) -190px -413px;
  width: 30px;
  height: 23px;
  margin-top: 5px;
}

.right_slider .slider_top .slider_top_1 .s_t_2 {
  width: 39px;
  padding: 5px 0;
  text-align: center;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn {
  width: 249px;
  height: 316px;
  border: 1px solid #c8c8c8;
  border-right: none;
  padding: 0 20px;
  background: #FFF;
  position: absolute;
  left: -290px;
  top: 0px;
  display: none;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_tittle {
  position: relative;
  margin: 15px 0;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_tittle span {
  font-size: 14px;
  color: #c41f3a;
  font-weight: bold;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_tittle b {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: -18px;
  top: -13px;
  cursor: pointer;
  background: url(../images/icon_list.png) no-repeat 0 -686px;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_tittle i {
  display: inline-block;
  border: 13px solid transparent;
  border-left: 13px solid #fff;
  position: absolute;
  right: -44px;
  bottom: -15px;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .ipt {
  width: 242px;
  height: 38px;
  border: 1px solid #c8c8c8;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .tspan {
  display: block;
  height: 26px;
  line-height: 26px;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .yzm {
  width: 117px;
  height: 38px;
  border: 1px solid #c8c8c8;
  float: left;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .yzm_pc {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #7f5a71;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .hyz {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #94193f;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .logn_btn {
  width: 258px;
  height: 40px;
  border: none;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  background: #94193f;
  font-weight: bold;
  cursor: pointer;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_bottom {
  margin-top: 8px;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_bottom .fpwd {
  color: #797979;
}

.right_slider .slider_top .slider_top_1 .right_slider_logn .r_s_l_bottom .hreg {
  float: right;
  color: #94193f;
}

.right_slider .slider_top .slider_top_2 {
  padding: 10px 0;
  border-bottom: 1px solid #2d2e32;
}

.right_slider .slider_top .slider_top_2 a {
  display: block;
  padding: 5px 0;
}

.right_slider .slider_top .slider_top_2 a:hover {
  background: #94193f;
}

.right_slider .slider_top .slider_top_2 a .s_t_c {
  background: url(../images/icon_list.png) -76px 0;
  width: 40px;
  height: 25px;
  transform: scale(0.95);
  text-align: center;
}

.right_slider .slider_top .slider_top_2 a .s_t_text {
  width: 17px;
  padding: 0 11px;
  color: #fff;
}

.right_slider .slider_top .slider_top_2 a .s_t_num {
  color: #fff;
  background: url(../images/icon_list.png) -84px -65px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 14px 9px 0 9px;
}

.right_slider .slider_top .slider_top_3 {
  margin: 20px 0;
}

.right_slider .slider_top .slider_top_3 a {
  display: block;
  padding: 5px 0;
  position: relative;
}

.right_slider .slider_top .slider_top_3 a:hover {
  background: #94193f;
}

.right_slider .slider_top .slider_top_3 a i {
  display: block;
  background: url(../images/icon_list.png) -83px -188px;
  width: 22px;
  height: 21px;
  margin: 0 9px;
}

.right_slider .slider_top .slider_top_3 a div {
  width: 39px;
  padding: 5px 0 0 0;
  text-align: center;
  color: #fff;
}

.right_slider .slider_bottom .slider_bottom_1 {
  margin: 5px 0;
}

.right_slider .slider_bottom .slider_bottom_1 a {
  width: 39px;
  height: 42px;
  display: block;
  overflow: hidden;
  position: relative;
}

.right_slider .slider_bottom .slider_bottom_1 a:hover {
  background: #94193f;
}

.right_slider .slider_bottom .slider_bottom_1 a:hover .app_ewm {
  display: block;
}

.right_slider .slider_bottom .slider_bottom_1 a .a_bg {
  background: url(../images/icon_list.png) -170px 0;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.right_slider .slider_bottom .slider_bottom_1 a .app_ewm {
  position: absolute;
  left: -183px;
  display: none;
}

.right_slider .slider_bottom .slider_bottom_2 {
  margin: 20px 0;
}

.right_slider .slider_bottom .slider_bottom_2 a {
  width: 39px;
  height: 42px;
  display: block;
  padding: 5px 0;
}

.right_slider .slider_bottom .slider_bottom_2 a:hover {
  background: #94193f;
}

.right_slider .slider_bottom .slider_bottom_2 a div {
  background: url(../images/icon_list.png) -170px -58px;
  width: 22px;
  height: 32px;
  margin: 5px 3px 5px 8px;
}

.right_slider .slider_bottom .slider_bottom_3 {
  margin: 20px 0;
}

.right_slider .slider_bottom .slider_bottom_3 a {
  display: block;
  padding: 5px 0;
}

.right_slider .slider_bottom .slider_bottom_3 a:hover {
  background: #94193f;
}

.right_slider .slider_bottom .slider_bottom_3 a i {
  display: block;
  background: url(../images/icon_list.png) -83px -252px;
  width: 19px;
  height: 19px;
  margin: 5px 10px;
}

.right_slider .slider_bottom .slider_bottom_3 a div {
  color: #fff;
}

.LoutiNav {
  border: 1px solid #797979;
  border-radius: 5px;
  width: 76px;
  height: 395px;
  padding: 0 8px;
  position: fixed;
  top: 20%;
  left: 2%;
  background: #fff;
  display: none;
}

.LoutiNav li {
  width: 76px;
  height: 33px;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.LoutiNav li a {
  display: block;
  width: 76px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #434343;
  border-radius: 5px;
}

.LoutiNav li a:hover {
  color: #c4193f;
}

.LoutiNav li a:hover i {
  background-position-x: -40px;
}

.LoutiNav li a i {
  vertical-align: middle;
}

.LoutiNav li a.hasback {
  background: #c4193f;
}

.LoutiNav i {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.LoutiNav .i1 {
  background: url(../images/type_icon.png) no-repeat 0 -418px;
}

.LoutiNav .i2 {
  background: url(../images/type_icon.png) no-repeat 0 -166px;
}

.LoutiNav .i3 {
  background: url(../images/type_icon.png) no-repeat 0 -128px;
}

.LoutiNav .i4 {
  background: url(../images/type_icon.png) no-repeat 0 -210px;
}

.LoutiNav .i5 {
  background: url(../images/type_icon.png) no-repeat 0 -250px;
}

.LoutiNav .i6 {
  background: url(../images/type_icon.png) no-repeat 0 -333px;
}

.LoutiNav .i7 {
  background: url(../images/type_icon.png) no-repeat 0 0;
}

.LoutiNav .i8 {
  background: url(../images/type_icon.png) no-repeat 0 -43px;
}

.LoutiNav .i9 {
  background: url(../images/type_icon.png) no-repeat 0 -450px;
}
